<style>
  
  .center {
    background-image: url('https://nga.gov.au/exhibitions/images/currentexhibitions_banner.jpg') !important;
    background-repeat: no-repeat;
    background-size: 100%;
    position: fixed;
    width: 100%;
    height: 100%;
    margin:-20px -20px;
}

  h1 {
    line-height: .95;
    color: #191919;
    font-weight: 900;
    font-size: 110px;
    text-transform: uppercase;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;
  }
  h1 {
    margin: 19%;
}
  body {
    padding-top: 70px;
    background-color: #191919;
  }
</style>
<div class="center">
	<h1>WELCOME</h1>
	
</div>